@import './mixins.scss';

.homeContainer{
    height: 100dvh;
    width: 50%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    font-family: "Open Sans", sans-serif;
}



.topHomeContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;


    .textTeLlamamos{
        font-size: 14px;
        color: $text-color;
        width: 89px;
        height: 19px;
    }

    .closeIcon{
        height: 24px;
        width: 24px;
    }
}

.textsBottom{
    width: 260px;
    height: 36px;
    font-size: 12px;
    color: $text-color;
    margin: 18px 0px 19px 0px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    .boldText{
        font-weight: 600;
    }

    .timeIcon{
        height: 16px;
        width: 16px;
    }
}